# OS files
.DS_Store
Thumbs.db

# Shopify specific

.shopify/

# Local development
node_modules/
.env
*.log

# Temp files
tmp/
dist/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
